/* src/styles/particles.css */
/* ----------------------------------------------
   パーティクル用のクラス（クリックを透過させる）
   ---------------------------------------------- */
   .particles-no-pointer {
    pointer-events: none !important;
    z-index: 0; /* 背景なので低めに配置 */
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  